{% extends 'skeleton.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block nav %}
    {% include "_navbar.html.twig" %}
{% endblock %}

{% block main %}
<h1>Mon E-Commerce</h1>


<article>

    <div class="container-fluid">
        <div class="row">

    {% for row in result %}
            <div class="col-sm-6">
                <div class="card">
                    <img src ="" alt="">


                        <h4 class="card-header">{{row.name}}</h5>
                        <h5 class="card-header">{{row.price}}</h5>
                        <p>{{row.category}}</p>
                        <img src="{{asset('uploads/images/'~row.image)}}" alt="{{row.name}}">

                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path('articleDelete',{id:row.id})}}" class="btn btn-danger">Supprimer</a>
                        <a href="{{path('articleUpdate',{id:row.id})}}" class="btn btn-danger">MAJ</a>
                        {% endif %}

                        {% if is_granted('ROLE_USER') %}
                        <a href="{{path('add',{article:row.id})}}" class="btn btn-success">Add to Cart</a>
                        {% endif %}

                    <div class="card-body">
                            <div class="card-text">Description:{{row.description}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}


    {% block cart %}

    {% if is_granted('ROLE_ADMIN') %}

    {% include "_shopping_cart.html.twig" %}
<a href="{{path('articleCreation')}}" class="btn btn-danger">Ajouter un produit !</a>
    {% endif %}
        

    {% block pagination %}
    {% include "_pagination.html.twig" %}
    {% endblock %}

{% endblock %}


{% block footer %}
    
{% endblock %}
{% endblock %}
