<aside class="cart">
  <h6>Mon panier:</h6>
<div class="order_list">
  <div class="item">
    <p class="item-name"></p>
    <p class="price"></p>
    <p class="nb-article"></p>
    <button class="delete"></button>
  </div>
</div>
  <button type="submit" class="btn btn-primary">Valider</button>
</aside>