{% extends 'skeleton.html.twig' %}

{% block title %}
    Commandes
{% endblock %}

{% block nav %}
    {% include "_navbar.html.twig" %}
{% endblock %}

{% block main %}


{% endblock %}


{% block footer %}
    
{% endblock %}
